:root{
  --Red: hsl(0, 100%, 74%); 
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
  --font-fam: 'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('images/bg-intro-desktop.png');
  background-color: var(--Red);
  font-family: var(--font-fam);
  overflow-y: hidden;
}

/* ------------ center everything  --- */
.container{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 200px auto;
}

/* ------------ make the content inside to be centered --- */
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  color: white;
}

/* ------------ change the header and paragraph styles --- */
.header{
  width: 500px;
  line-height: 60px;
  font-size: 50px;
}
.description{
  margin-top: 20px;
  width: 500px;
}

/* ------------ declare style for form --- */
.card-form{
  height: 400px;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  margin-left: 90px;
  border: none;
  box-shadow: 0px 4px 2px var(--Grayish-Blue);
}
form{
  padding: 40px 40px 0px 50px;
  text-align: center;
}

/* ------------ input field styles --- */
.int-field{
  margin-bottom: 15px;
  position: relative;
}
input{
  padding: 10px 43% 10px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--Grayish-Blue);
}
input:focus{
  outline: none;
}

/* ------------ exclamation points  --- */
.exclamation{
  position: absolute;
  background-color: red;
  padding: 5px 10px;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  right: 30px;
  top: 8px;
  display: none;
}
#submit{
  background-color: var(--Green);
  border: none;
  color: white;
  padding: 15px 130px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
#submit:hover{
  background-color: hsl(154, 76%, 61%);
}

/* ------------ agreement font styles --- */
.agreement{
  font-size: 10px;
  opacity: .7;
}
.agree-strong{
  opacity: 1;
  color: var(--Red);
}

/* ------------ banner position and styles --- */
.banner{
  position: absolute;
  top: -20%;
  color: white;
  background-color: var(--Blue);
  padding: 20px 87px;
  border-radius: 10px;
  box-shadow: 0px 3px 3px var(--Dark-Blue);
}

/* ERROR MESSAGES */
.message{
  color: red;
  font-size: 10px;
  font-style: italic;
  position: absolute;
  top: 88%;
  left: 60%;
}
.placeholder-color::-webkit-input-placeholder{
  color: red;
}


@media (max-width: 375px){
  body{
    overflow-y: scroll;
  }
  .container{
    margin-top: 100px;
  }
  .box{
    flex-direction: column;
  }
  .main{
    text-align: center;
  }
  .header{
    font-size: 1.5em;
    word-wrap: break-word;
    width: 300px;
    line-height: 35px;
  }
  .description{
    font-size: 16px;
    max-width: 320px;
    margin: 20px auto;
  }
  /* ------------ move banner --- */
  .banner{
    text-align: center;
    font-size: 16px;
    padding: 15px 30px;
    left: 50%;
    top: -22%;
    transform: translateX(-50%);
    width: 320px;
  }
  /* ------------ change form's width and padding --- */
  form{
    padding: 0px;
    margin: 20px;
    width: 290px;
  }
  .card-form{
    text-align: center;
    margin-top: 100px;
    width: 320px;
    height: 450px;
    margin: 150px 0 30px 0;
  }
  .int-field{
    width: 290px;
  }
  .exclamation{
    left: 80%;
    padding: 5px 3px;
  }
  .error{
    position:absolute;
    width: 200px;
    transform: translateX(-40%);
  }
  input{
    padding: 10px 40px 10px 10px;
  }
  #submit{
    padding: 15px 50px;
    width: 260px
  }
}